<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Celestia-1.4.0</key>
	<dict>
		<key>altSurface</key>
		<integer>0</integer>
		<key>ambientLightLevel</key>
		<real>0.1</real>
		<key>dateFormat</key>
		<integer>1</integer>
		<key>faintestVisible</key>
		<real>7</real>
		<key>galaxyBrightness</key>
		<real>0</real>
		<key>hudDetail</key>
		<integer>1</integer>
		<key>minimumFeatureSize</key>
		<real>20</real>
		<key>renderPath</key>
		<integer>8</integer>
		<key>resolution</key>
		<integer>1</integer>
		<key>showAsteroidLabels</key>
		<integer>0</integer>
		<key>showAsteroidOrbits</key>
		<integer>0</integer>
		<key>showAstrumLabels</key>
		<integer>1</integer>
		<key>showAtmospheres</key>
		<integer>1</integer>
		<key>showAutoMag</key>
		<integer>1</integer>
		<key>showBoundaries</key>
		<integer>0</integer>
		<key>showCatenaLabels</key>
		<integer>1</integer>
		<key>showCelestialSphere</key>
		<integer>0</integer>
		<key>showChaosLabels</key>
		<integer>1</integer>
		<key>showChasmaLabels</key>
		<integer>1</integer>
		<key>showCityLabels</key>
		<integer>1</integer>
		<key>showCloudMaps</key>
		<integer>1</integer>
		<key>showCloudShadows</key>
		<integer>0</integer>
		<key>showCometLabels</key>
		<integer>0</integer>
		<key>showCometOrbits</key>
		<integer>0</integer>
		<key>showCometTails</key>
		<integer>1</integer>
		<key>showConstellationLabels</key>
		<integer>0</integer>
		<key>showCoronaLabels</key>
		<integer>1</integer>
		<key>showCraterLabels</key>
		<integer>1</integer>
		<key>showDiagrams</key>
		<integer>0</integer>
		<key>showDorsumLabels</key>
		<integer>1</integer>
		<key>showEclipseShadows</key>
		<integer>0</integer>
		<key>showFarrumLabels</key>
		<integer>1</integer>
		<key>showFluctusLabels</key>
		<integer>1</integer>
		<key>showFossaLabels</key>
		<integer>1</integer>
		<key>showGalaxies</key>
		<integer>1</integer>
		<key>showGalaxyLabels</key>
		<integer>0</integer>
		<key>showLandingSiteLabels</key>
		<integer>1</integer>
		<key>showLatinConstellationLabels</key>
		<integer>1</integer>
		<key>showLineaLabels</key>
		<integer>1</integer>
		<key>showLocationLabels</key>
		<integer>0</integer>
		<key>showMareLabels</key>
		<integer>1</integer>
		<key>showMarkers</key>
		<integer>0</integer>
		<key>showMensaLabels</key>
		<integer>1</integer>
		<key>showMonsLabels</key>
		<integer>1</integer>
		<key>showMoonLabels</key>
		<integer>0</integer>
		<key>showMoonOrbits</key>
		<integer>1</integer>
		<key>showNebulaLabels</key>
		<integer>0</integer>
		<key>showNebulae</key>
		<integer>1</integer>
		<key>showNightMaps</key>
		<integer>1</integer>
		<key>showObservatoryLabels</key>
		<integer>1</integer>
		<key>showOpenClusterLabels</key>
		<integer>0</integer>
		<key>showOpenClusters</key>
		<integer>0</integer>
		<key>showOrbits</key>
		<integer>0</integer>
		<key>showOtherLabels</key>
		<integer>1</integer>
		<key>showPateraLabels</key>
		<integer>1</integer>
		<key>showPlanetLabels</key>
		<integer>0</integer>
		<key>showPlanetOrbits</key>
		<integer>1</integer>
		<key>showPlanets</key>
		<integer>1</integer>
		<key>showPlanitiaLabels</key>
		<integer>1</integer>
		<key>showPlanumLabels</key>
		<integer>1</integer>
		<key>showRegioLabels</key>
		<integer>1</integer>
		<key>showReticulumLabels</key>
		<integer>1</integer>
		<key>showRimaLabels</key>
		<integer>1</integer>
		<key>showRingShadows</key>
		<integer>0</integer>
		<key>showRupesLabels</key>
		<integer>1</integer>
		<key>showSmoothLines</key>
		<integer>1</integer>
		<key>showSpacecraftLabels</key>
		<integer>0</integer>
		<key>showSpacecraftOrbits</key>
		<integer>0</integer>
		<key>showStarLabels</key>
		<integer>0</integer>
		<key>showStars</key>
		<integer>1</integer>
		<key>showStellarOrbits</key>
		<integer>1</integer>
		<key>showTerraLabels</key>
		<integer>1</integer>
		<key>showTesseraLabels</key>
		<integer>1</integer>
		<key>showUndaeLabels</key>
		<integer>1</integer>
		<key>showVallisLabels</key>
		<integer>1</integer>
		<key>starStyle</key>
		<integer>0</integer>
		<key>timeZone</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
