<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>celx</string>
				<string>cel</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Celestia Script</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Celestia</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Celestia Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Celestia Help</string>
	<key>CFBundleIconFile</key>
	<string>celestia</string>
	<key>CFBundleIdentifier</key>
	<string>net.shatters.Celestia</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>net.shatters.Celestia.celurl</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cel</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>Prerelease</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>CelestiaApplication</string>
</dict>
</plist>
