[submodule "thirdparty/Spice"]
	path = thirdparty/Spice
	url = https://github.com/OpenSpace/Spice.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/tools/celestia-gaia-stardb"]
	path = src/tools/celestia-gaia-stardb
	url = https://github.com/ajtribick/celestia-gaia-stardb.git
[submodule "thirdparty/miniaudio"]
	path = thirdparty/miniaudio
	url = https://github.com/mackron/miniaudio.git
