*.user
Debug/
Release/
.vs/
*~
Makefile
Makefile.in
macros/
.deps
*.o
*.a
*.la
autom4te.cache/
aclocal.m4
config.h*
config.status
config.log
configure
libtool
po*/*.gmo
po*/POTFILES
po*/stamp-po
admin/ltmain.sh
celestia
buildstardb
stamp-h1
.dirstamp
build
*.orig
*.rej
