*.user
Debug/
Release/
.vs/
*~
.deps
*.o
*.a
*.la
po*/*.gmo
po*/POTFILES
po*/stamp-po
.dirstamp
build
build-cmake
cmake-build
.qmake.stash
src/celestia/win32/res/resource_strings.cpp
src/celestia/qt/rc.cpp
data/*.cpp
