*.user
Debug/
Release/
.vs/
.vscode/
*~
*.o
*.a
*.la
*.exe
*.dll
.DS_Store
po*/*.gmo
po*/POTFILES
build*/
src/celestia/win32/res/resource_strings.cpp
src/celestia/qt/rc.cpp
locale/*/LC_MESSAGES/
data/
extras/
extras-standard/
models/
textures/
mingw/
