Arpeggio==1.9.0
asn1crypto==0.24.0
astroid==2.3.0
astropy==3.2.1
astroquery==0.3.10
beautifulsoup4==4.8.0
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
entrypoints==0.3
html5lib==1.0.1
idna==2.8
isort==4.3.21
jeepney==0.4.1
keyring==19.2.0
lazy-object-proxy==1.4.2
mccabe==0.6.1
numpy==1.17.2
pycparser==2.19
pylint==2.4.1
regions==0.4
requests==2.22.0
SecretStorage==3.1.1
six==1.12.0
soupsieve==1.9.3
typed-ast==1.4.0
urllib3==1.25.6
webencodings==0.5.1
wrapt==1.11.2
