Arpeggio==1.9.2
astropy==4.0.1.post1
astroquery==0.4.1
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
cryptography==3.2
html5lib==1.1
idna==2.10
jeepney==0.4.3
keyring==21.3.0
numpy==1.19.1
pycparser==2.20
requests==2.24.0
SecretStorage==3.1.2
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.10
webencodings==0.5.1
