[Desktop Entry]
Comment=Celestia script file
Hidden=false
Icon=celestia
MimeType=application/x-celestia-script
Patterns=*.cel;*.CEL;*.celx;*.CELX
Type=MimeType
