[Desktop Entry]
Encoding=UTF-8
Version=1.4.0
Type=Application
Exec=celestia
Icon=celestia
X-GNOME-DocPath=
Terminal=false
Name=Celestia
Comment=Space Simulator
StartupNotify=true
Categories=Astronomy;Science;Application;
