[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=celestia-gtk
Icon=celestia
X-GNOME-DocPath=
Terminal=false
Name=Celestia (Gtk+)
GenericName=Space Simulator
Comment=Explore the Universe in this detailed space simulation
StartupNotify=true
Categories=Astronomy;Education;Application;
