[Desktop Entry]
Version=1.0
Name=Celestia (Qt)
GenericName=Space Simulator
Comment=Explore the Universe in this detailed space simulation
Type=Application
Categories=Astronomy;Education;Science;
Icon=celestia
Exec=celestia-qt %f
Terminal=false
