* {
font-size: 14;
}

.documenttitle {
font-size: 24;
font-weight: bold;
}

.chaptertitle {
font-size: 18;
font-weight: bold;
}

.sectiontitle {
font-size: 18;
font-weight: bold;
}

.mailaddr {
font-size: 14;
font-style: italic;
}

.panic {
font-style: italic;
}

.new {
font-style: italic;
color: red;
}
